<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
	<img src="https://d3v0px0pttie1i.cloudfront.net/uploads/user/logo/4864512/9fb759a3.png" height="48px">
	<button type="button" class="btn btn-outline-dark ml-4">
		<i class="fa fa-arrow-left"></i>
		Back to
	</button>

	<div class="col d-flex justify-content-end align-items-center">
		<button type="button" class="btn btn-success">
			<i class="fa fa-comment"></i>
			Live Chat
		</button>
		<div class="ml-5">
			<i class="fa fa-user-circle"></i>
			<span class="ml-3">Jesse</span>
			<i class="fa fa-chevron-down ml-3"></i>
		</div>
	</div>
</header>

<div class="mt-2 mb-8">
	<div class="h4 col mx-3 my-3">
		{{tourData.tourName}}
	</div>
	<hr />
	<div class="mx-3">
		<div class="mt-2">
			<div class="row">
				<div class="d-flex justify-content-end align-items-end time-width">
					<i class="fa fa-chevron-left fa-2x mr-2 cursor-pointer"
						mwlCalendarPreviousView
						[view]="view"
						[(viewDate)]="viewDate"
						(viewDateChange)="closeOpenMonthViewDay()"
					>
					</i>
					<i class="fa fa-chevron-right fa-2x cursor-pointer"
						mwlCalendarNextView
						[view]="view"
						[(viewDate)]="viewDate"
						(viewDateChange)="closeOpenMonthViewDay()"
					>
					</i>
				</div>
				<div class="col flex-column flex-md-row">
					<span class="h4">
						{{ viewDate | date:'MMMM y' }}
					</span>
					<span class="cursor-pointer ml-3 l-green">
						<i class="fa fa-bars mr-3"></i>
						List View
					</span>
				</div>
				<div class="col d-flex justify-content-end align-items-center">
					<span>
						<i class="fa fa-calendar mr-2"></i>
						{{tourData.durationDays}} Days
					</span>
					<span class="ml-3">
						<i class="fa fa-bars mr-3"></i>
						{{tourData.minseats}} - {{tourData.totalseats}} Travellers
					</span>
					<span class="ml-3">{{ tourData.amount | currency : 'USD' : 'symbol' : '1.0-0' }} Per Traveller</span>
					<span class="text-muted">({{tourData.surplus | currency : 'USD' : 'symbol' : '1.0-0' }})</span>
				</div>
			</div>
		</div>
		<div class="mt-2">
			<mwl-calendar-week-view
				[viewDate]="viewDate"
				[events]="itineraryList"
				[refresh]="refresh"
				(eventClicked)="handleEvent(CALENDAR_ACTIONS.CLICKED, $event.event)"
				(eventTimesChanged)="eventTimesChanged($event)"
				(hourSegmentClicked)="addItem($event.date)"
			>
			</mwl-calendar-week-view>
		</div>
	</div>
</div>

<div class="footer fixed-bottom bg-white shadow">
	<div class="d-flex justify-content-end align-items-end py-2">
		<button class="btn btn-outline-primary">Preview</button>
		<button class="btn btn-success mx-3">Save Draft</button>
		<button class="btn btn-primary prmary-bg-color mr-3">Continue</button>
	</div>
</div>

<ng-template #modalContent let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">{{ modalData?.action !== CALENDAR_ACTIONS.ADD ? modalData?.event.title : 'Add Event'}}</h5>
		<button type="button" class="close" (click)="close()">
			<span>&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div *ngIf="modalData?.action == CALENDAR_ACTIONS.CLICKED">
			<div class="row">
				<div class="col-sm-3">Start Time:</div>
				<div class="col-sm-3 text-muted">{{modalData?.event.start | date:'HH:mm' }}</div>
				<div class="col-sm-3">End Time:</div>
				<div class="col-sm-3 text-muted">{{modalData?.event.end | date:'HH:mm' }}</div>
			</div>
			<div class="row mt-2">
				<div class="col-sm-3">Description:</div>
				<div class="col-sm-9 text-muted">
					{{modalData?.event.description }}
				</div>
			</div>
		</div>

		<div *ngIf="modalData?.action == CALENDAR_ACTIONS.EDITED || modalData?.action == CALENDAR_ACTIONS.ADD">
			<div class="row">
				<div class="col-sm-3">Start Time:</div>
				<div class="col-sm-3">
					<input
						class="form-control"
						type="text"
						mwlFlatpickr
						[(ngModel)]="modalData?.event.start"
						(ngModelChange)="refresh.next()"
						[altInput]="true"
						[convertModelValue]="true"
						[enableTime]="true"
						dateFormat="Y-m-dTH:i"
						altFormat="F j, Y H:i"
						placeholder="Not set"
					/>
				</div>
				<div class="col-sm-3">End Time:</div>
				<div class="col-sm-3">
					<input
						class="form-control"
						type="text"
						mwlFlatpickr
						[(ngModel)]="modalData?.event.end"
						(ngModelChange)="refresh.next()"
						[altInput]="true"
						[convertModelValue]="true"
						[enableTime]="true"
						dateFormat="Y-m-dTH:i"
						altFormat="F j, Y H:i"
						placeholder="Not set"
					/>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm-3">Title:</div>
				<div class="col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="modalData?.event.title"/>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm-3">Description:</div>
				<div class="col-sm-9">
					<input class="form-control" type="text" [(ngModel)]="modalData?.event.description"/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="btn " (click)="modalData?.action === CALENDAR_ACTIONS.ADD ? addEvent(modalData?.event, close) : close()"
			[ngClass]="{'btn-outline-secondary': modalData?.action !== CALENDAR_ACTIONS.ADD , 
			'btn-primary prmary-bg-color': modalData?.action === CALENDAR_ACTIONS.ADD}"
		>
			{{modalData?.action === CALENDAR_ACTIONS.ADD ? 'Add' : 'OK'}}
		</button>
	</div>
</ng-template>
